*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ! ========================== Navbar 1 ================================== */
#Navbar{
    /* border: solid red; */
    background-color: whitesmoke;
    height: 75px;
    display: flex;
    align-items:center ;
    padding: 0px;
    border-bottom: 1px solid gray;

}

#Navbar div{
    /* border: solid blue; */
    display: flex;
    align-items:center ;
    /* margin: 0px 100px; */
    

}

 .para1{
    /* border: solid red; */
    position: absolute;
    margin-left: 155px;
    margin-top: -20px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Segoe UI', 'Segoe UI', Geneva, Verdana, sans-serif;
    width: 550px;

}


.para2{
    /* border: solid red; */
    position: absolute;
    margin-left: 155px;
    margin-top: 25px;

}

/* ! ========================== Navbar 2 ================================== */

.item1 img{
    /* border: solid green; */
    margin-left: 100px;

}


.item2{
    /* border: solid green; */
    margin-left: 950px;

}

.item3{
    /* border: solid chocolate; */
    margin-left: 80px;
    /* color: white; */

}

.item3 input{
    background-color: #0078D4;
    color: white;
    height: 35px;
    width: 160px;
    border: none;
    font-size: large;

}

::-webkit-input-placeholder{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 18px;
}


#Navbar2{
    /* border: solid blueviolet; */
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 20px;
    color: #262626;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#Navbar2 .navbar1 img{
    /* border: solid blue; */
    margin-left: 100px;
    height: 30px;
    width: 180px;

}



#Navbar2 .navbar2{
    /* border: solid blue; */
    margin-left: 15px;


}


#Navbar2 .navbar3{
    /* border: solid teal; */
    margin-left: 300px;

}


#Navbar2 .navbar4{
    /* border: solid teal; */
    margin-left: 15px;

}

#Navbar2{
    cursor: pointer;
    /* text-decoration:; */
}

/* ! ========================== Hero Section ================================== */

.Hero img{
    height: 474px;
    width: 1519px;
}

.Herocard{
    background-color: white;
    /* border: solid teal; */
    position: absolute;
    top: 210px;
    left: 90px;
    height: 307px;
    width: 569px;

}

.Newbutton{
    /* border: solid red; */
    background-color: #FFB900;
    margin-left: 50px;
    margin-top: 50px;
    width: 56px;
    height: 28px;
    border: none;
    font-size: 16px;
    font-weight: 549;
}
.Herocard1{
    /* border: solid red; */
    margin-left: 50px;
    margin-top: 10px;
    width: 473px;
    font-size: 35px;
    font-family: 'Segoe UI','Segoe UI',  Verdana, sans-serif;
    color: #000000;
}


.Herocard2{
    /* border: solid red; */
    margin-left: 50px;
    margin-top: 15px;
    width: 473px;
    font-size: 16px;
    font-family: 'Segoe UI','Segoe UI',  Verdana, sans-serif;
    color: #000000;
}



.Herocard3{
    /* border: solid red; */
    background-color: #0078D4;
    color: white;
    margin-left: 50px;
    margin-top: 30px;
    width: 109px;
    height: 39px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}


#imagelogo{
    margin-top: 0px;
}

button:hover{
    background-color: #0067B8;
}


/* ! ========================== LOGO Section ================================== */

#imagelogo div {
    /* border:solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
    font-size: 35px;
}

#imagelogo:hover{
    cursor: pointer;


}


#imagelogo div img{
    height:40px ;
    width: 40px;

}

.paragarapg1{
    /* border: solid green; */
    position: absolute;
    width: 250px;
    font-size: 20px;
    left: 370px;
    bottom: -100px;
}



.paragarapg2{
    /* border: solid green; */
    position: absolute;
    width: 200px;
    font-size: 10px;
    left: 470px;
    bottom: -100px;
}



.paragarapg3{
    /* border: solid teal; */
    position: absolute;
    width: 200px;
    font-size: 20px;
    left: 780px;
    bottom: -100px;
}



.paragarapg4{
    /* border: solid blueviolet; */
    position: absolute;
    width: 310px;
    font-size: 20px;
    left: 930px;
    bottom: -100px;
}




/* ! ==========================   Grid Section  IMG ================================== */


#cardimg{
    /* border: solid green; */
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

#cardimg:hover{
    cursor: pointer;
}


.cardimg1{
    border: 2px solid whitesmoke;
    height: 440px;
    width: 323px;
}

.cardimg1 img{
    height: 181px;
    width: 323px;
}

.cardimghead{
/* height: 34px; */
width: 275px;
font-size: 39px;
margin-top: 15px;
margin-left: 20px;
/* font-family: 'Segoe UI', Arial, Helvetica, sans-serif; */
}

 .cardimghead2{
    /* border: solid rebeccapurple; */
    margin-left: 20px;
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.cardimghead3{
    /* border: solid rebeccapurple; */
    background-color: #0078D4;
    color: white;
    border: none;
    width: 167px;
    height: 39px;
    margin-left: 20px;
    margin-top: 90px;
    font-size: 14px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: bold;

}



.cardimghead4{
    /* border: solid rebeccapurple; */
    background-color: #0078D4;
    color: white;
    border: none;
    width: 218px;
    height: 39px;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 14px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: bold;

}


.cardimghead5{
    /* border: solid rebeccapurple; */
    background-color: #0078D4;
    color: white;
    border: none;
    width: 120px;
    height: 39px;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 14px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.cardimghead6{
    /* border: solid rebeccapurple; */
    background-color: #0078D4;
    color: white;
    border: none;
    width: 167px;
    height: 39px;
    margin-left: 20px;
    margin-top: 70px;
    font-size: 14px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: bold;

}





/* ! ========================== Hero Section 2 ================================== */
.Hero1 img{
    height: 514px;
    width: 1367px;
    margin-left: 75px;
    margin-top: 100px;

}


.youngwomen{
    /* border: solid red; */
    height:410px;
    width:424px ;
    position: absolute;
    left: 140px;
    bottom: -1210px;
    padding: 48px;
} 


.youngwomen3{
    /* border: solid teal; */
    width: 314px;
    height: 133px;
    font-size: 37px;
    font-family: "Segoe UI" Arial, Helvetica, sans-serif

}

.youngwomen4{
    /* border: solid teal; */
    width: 314px;
    height: 72px;
    font-size: 16px;
    font-family: "Segoe UI" Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

.youngwomen5{
    /* border: solid blue; */
    background-color:#0067B8 ;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 12px;
    width: 136px;
    height: 39px;
    font-size: 16px;
    font-family: "Segoe UI" Arial, Helvetica, sans-serif;
    cursor: pointer;
}


.youngwomen6{
    /* border: solid blue; */
    position: absolute;
    margin-left: -138px;
    margin-top: 70px;
    width: 171px;
    height: 40px;
    font-size: 16px;
    font-family: "Segoe UI" Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}


/* ! ==========================   Grid Heading ================================== */


.titleGridcard2{
    /* border: solid teal; */
    width: 1367px;
    height: 44px;
    margin-left: 75px;
    font-size: 37px;
    margin-top: 110px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


/* ! ==========================   Grid Section  IMG 2 CSS ================================== */

#card2{
    /* border: solid green; */
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 100px;
}


#card2:hover{
        cursor: pointer;
}


.option{
    /* height: 34px; */
    width: 275px;
    font-size: 29px;
    margin-top: 15px;
    margin-left: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
    }

    .option2{
        /* border: solid rebeccapurple; */
        background-color: #0078D4;
        color: white;
        border: none;
        width: 100px;
        height: 39px;
        margin-left: 20px;
        margin-top: 80px;
        font-size: 14px;
        font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
        font-weight: bold;
    
    }

    .option3{
        /* border: solid red; */
        width: 275px;
        font-size: 29px;
        margin-top: 15px;
        margin-left: 20px;
        /* font-family: 'Segoe UI', Arial, Helvetica, sans- */
        }




.option4{
    border: solid red;
    background-color: #0078D4;
    color: white;
    border: none;
    width: 100px;
    height: 39px;
    margin-left: 20px;
    margin-top: 58px;
    font-size: 14px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.option5{
    /* height: 34px; */
    width: 275px;
    font-size: 29px;
    margin-top: 13px;
    margin-left: 20px;
    /* font-family: 'Segoe UI', Arial, Helvetica, sans-serif; */
    }

 


.option6{

    /* border: solid rebeccapurple; */
    background-color: #0078D4;
    color: white;
    border: none;
    width: 270px;
    height: 45px;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 16px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: bold;
    }


.option7{
    /* height: 34px; */
    width: 275px;
    font-size: 29px;
    margin-top: 13px;
    margin-left: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.option8{
    /* border: solid rebeccapurple; */
    background-color: #0078D4;
    color: white;
    border: none;
    width: 100px;
    height: 39px;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 14px;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.Follow{
    margin-left: 80px;
    font-size: 16px;
    color: #241F21;
}
.Follow i{

    font-size:x-large;
    margin: 0px 0px 0px 15px;
    color: #241F21;
}


.button{
    /* border: solid red; */
    margin-top: 25px;
    display: flex;
    margin-left: 1350px;
    width: 142px;
    height: 39px;
    border: none;
    margin-bottom: 60px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;

}


.button:hover{
background-color: white;

}





/* !  ===========    ----------------Footer ---------------------   ==================== */

#footer{
    background-color: #F2F2F2;

}

.container{
    display: flex;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    color: #616161;
    margin-bottom: 50px;
}

.footer-container{
    /* border: solid red; */
    margin-top: 50px;
}


.footer-container li a{
    /* border: solid blue; */
    color: #616161;
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;


}


li{
    list-style-type: none;
    margin-top: 30px;
    font-family: SoDoSans,Arial, Helvetica, sans-serif;
}

h3{
    font-size: 30px;
}



.footer-containergreen {
    margin-top: 50px;
}

.footer-containergreen a{
    /* background-color: green; */
    color: #616161;
    font-size: 16px;
    text-decoration: none;
    /* margin-top: 115px; */

}






.borderline {
    
    /* border: solid red; */
    display: flex;
    margin-top: 0px;
    background-color: #F2F2F2;
    height: 40px;
    width: 1400px;
    justify-content: center;
    margin-left: 50px ;
    font-size: 11px;


}

.borderline  a{
    /* border: solid rebeccapurple; */
    color: #616161;
    text-decoration: none;
    padding: 20px;
}

.base{
    margin: 0px 0px 0px 365px;
    
}



